@import url('https://fonts.googleapis.com/css2?family=Prata&family=Rubik:ital,wght@1,300;1,400&display=swap');

:root{
  --main-color:white;
  --bg:#78281F;
  --border:.1rem solid rgba(255,255,255,.3);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: "prata",sans-serif;
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}


a{
    text-decoration: none;
}

header{
  background: #78281F;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:1.5rem 7%;
  border-bottom: .1rem solid rgba(255,255,255,.3);
  position: fixed;
  top:0; 
  left: 0; 
  right: 0;
  z-index: 1000;
}

header .logo img{
  height: 6rem;
}

header .navbar a{
  margin:0 1rem;
  font-size: 1.6rem;
  color:white;
}

header .navbar a:hover{
  color:orange;
  border-bottom: .1rem solid white;
}


header .icons div{
  color:white;
  cursor: pointer;
  font-size: 2.5rem;
  margin-left: 2rem;
}

header .icons div:hover{
  color:darkgoldenrod;
}
#menu-btn{
  display: inline-block;
}

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainblock{
  margin-top:0%;
  height: 1000px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/gifts.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.mainblock h1{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 60px;
  font-family: 'Sacramento', cursive;
}


.heading{
  font-size: 4rem;
  font-weight: 300;
  color: black;
  text-transform: uppercase;
  letter-spacing: .2rem;
  text-align: center;
  padding: 30px; 
  margin: 0px 5%;
  align-items: flex-start;
}

.whatwesell  .row{
  display: flex;
  align-items: center;
  background:var(--black);
  flex-wrap: wrap;
}
.whatwesell  .row .gift-photo{
  flex:1 1 45rem;
	margin: 14px; 
}
.whatwesell  .row .gift-photo img{
    width: 100%;
}

.whatwesell  .row .content{
    flex:1 1 45rem;
    padding:2rem;
}
.whatwesell  .row .content h3{
  font-size: 3rem;
  color:black;
  font-weight: 300;
}

.whatwesell  .row .content p{
  font-size: 1.6rem;
  color:black;
  padding:1rem 0;
  line-height: 1.8;
}

.product{
  margin-bottom: 20px;
  margin-top: 20px;
}

.sub-heading{
	font-size: 2rem;
  font-weight: 300;
  color: black;
  margin-bottom: 10px;
  letter-spacing: .2rem;
  text-align: center;
}

.product-boxes{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap:1.5rem;
}

.product-boxes .box{
  padding:5rem;
  text-align: center;
  border:.1rem solid rgba(255,255,255,.3);    
}


.product-boxes .box img{
	height: 25rem;
  overflow:hidden;
  width: 100%;
	
}

.product-boxes .box img:hover{
	  
	
}


.discounts{
  margin-bottom: 20px;
  margin-top: 20px;
  
}

.discountbox{
  width:100%;
  /* float:left; */
  background-color: antiquewhite;
  color: black;
  margin-bottom: 10px;
  margin-left:10px;
  border:0.5rem solid BurlyWood;
  letter-spacing: .2rem;
  text-align: center;
  align-items: center;
}



.discountbox:hover{
  transform: scale(1.01);
  cursor:pointer;
}

.discountbox h1{
  font-size: 5rem;
  
}

.discountbox h2{
  font-size: 2rem;
}

.discountbox h3{
  font-size: 1rem;
}


.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.map{
  flex:1 1 45rem;
  width: 100%;
  object-fit: cover;
  
}

.row form{
  flex:1 1 45rem;
  padding:2rem 2rem;
  margin:5px;
  text-align: center;
  border:2px solid darkgoldenrod;
  border-radius: 10px;
}

.inputBox{
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border:2px solid darkgoldenrod;
}

.inputBox input{
  width: 100%;
  padding:2rem;
  font-size: 1.2rem;
  color:black;
  text-transform: none;
  border:none;
  border-radius: 10px;
}


.inputBox textarea{
  width: 100%;
  padding:2rem;
  font-size: 1.2rem;
  color:black;
  text-transform: none;
  border:none;
  border-radius: 10px;
}

.btn{
  margin-top: 1rem;
  display: inline-block;
  padding:.9rem 3rem;
  font-size: 1.7rem;
  color:#78281F;
  background:white;
  border:2px solid #78281F;
  border-radius: 10px;
  cursor: pointer;
}

.btn:hover{
  background: #78281F;
  color:white;
}

.footer{
  background-color: black;
  color:white;
  text-align: center;
  padding: 20px 0px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}
