.navbar{
    width: 100%;
    height: 5vh;
    background-color: #333;
    color: white;
    text-align: center;
    margin: 10px 5px;
    top: 0; 
    position: fixed;
    overflow: hidden;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #dddddd;
  }

.navbar li {
    display: inline;
    float: right;
  }


.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

.navbar a:hover {
    background: #ddd;
    color: black;
  }

.mainblock {
    width: 100vw;
    height: 40vh;
    background-color: #EF5354;
    font-size: 50px;
    color: white;
    text-align: center;
    margin: 10px 5px;
}


.portion1 {
    width: 100vw;
    height: 40vh;
    background-color: blue;
    font-size: 50px;
    color: white;
    text-align: center;
    margin: 10px 5px;
}

.portion2 {
    width: 100vw;
    height: 40vh;
    background-color: green;
    font-size: 50px;
    color: white;
    text-align: center;
    margin: 10px 5px;
}

.portion3 {
    width: 100vw;
    height: 40vh;
    background-color: cyan;
    font-size: 50px;
    color: white;
    text-align: center;
    margin: 10px 5px;
}