*{
  padding:0;
  margin:0; 
}



.navbar{
    width:  100%;
    height: 5.38%;
    background-color: #333;
    color: white;
    text-align: center;
    top: 0; 
    position: fixed;
    overflow: hidden;
    padding-right: 0%;
    padding-left: 0%;
    
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #dddddd;
  }

.navbar li {
    display: inline;
    float: right;
  }


.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

.navbar a:hover {
    background: #ddd;
    color: black;
  }

.mainblock {
    margin-top: 2.59%;
    
    height:700px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("nature-design.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    
    
}

.pagetitle{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  

}


.portion1 {
    width: 100vw;
    height: 40vh;
    background-color: blue;
    font-size: 50px;
    color: white;
    text-align: center;
    margin: 10px 5px;
}

.portion2 {
    width: 100vw;
    height: 40vh;
    background-color: green;
    font-size: 50px;
    color: white;
    text-align: center;
    margin: 10px 5px;
}

.portion3 {
    width: 100vw;
    height: 40vh;
    background-color: cyan;
    font-size: 50px;
    color: white;
    text-align: center;
    margin: 10px 5px;
}

.portion4 {
    width: 100vw;
    height: 40vh;
    background-color: purple;
    font-size: 50px;
    color: white;
    text-align: center;
    margin: 10px 5px;
}